body {
    background-color: lightblue;
    margin: 20px
}   

#main-title{
    font-size: 20px;
}
.container {
    background-color: beige;
    padding: 20px;

}

#main-nav{
    width: 100%;
}

aside img{
    width: 50%;
    height: 50%;
}

#sum-img{
    float: left;
    width: 50%;
}

#Viss {

    margin-bottom: 100px;
    margin-top: 20px;
}


#foot {
    text-align: center;
}

.header {
    background-image: url(../Images/weather.jpg)

}


#nav-row{
}

