body {
    background-color: lightblue;
}   



#sum-img{
    float: left;
    width: 50%;
}

/* .left-pad{
    margin-right: 0px;
} */

.right-side{
    height: 90%;
}
/* .container{
    margin-left: 50px;
    margin-right: 0;
} */

.space {
    margin: 200px;
}
